body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 170px;
}

.logo {
    align-items: center;
    font-size: 7vh;
    font-weight: bold;
    color: white;
    background-color: #ff6711;
    height: 170px;
    font-family: 'Brush Script MT';
    padding: 30px;
}

.nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding: 40px;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 30px;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.nav-item a:hover {
    text-decoration: underline;
}

.center{
    margin-top: 10vh;
    text-align: center;
}

.plans{
    margin-left: 15%;
    display: flex;
    width: 70%;
}

.plan{
    background-color: white;
    width: 25%;
    height: 40vh;
    border-radius: 10px;
}

.title{
    font-size: 2vh; 
    font-weight: bold; 
    text-align: left; 
    margin-left: 10%; 
    margin-top: 2vh;
}

.button_member{
    height: 4vh;
    background-color: black;
    color: white;
    width: 80%;
    margin-top: 2vh;
    border-radius: 5px;
    border: 0px;
}

.button_back{
    height: 6vh;
    width: 10%;
    margin-left: 45%;
    margin-top: 10vh;
    border-radius: 10px;
    background-color: #ff6711;
    color: white;
    font-size: 3vh;
    border: 0px;
}