body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 170px;
}

.logo {
    align-items: center;
    font-size: 7vh;
    font-weight: bold;
    color: white;
    background-color: #ff6711;
    height: 170px;
    font-family: 'Brush Script MT';
    padding: 30px;
}

.nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding: 40px;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 30px;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.nav-item a:hover {
    text-decoration: underline;
}

.center{
    margin-top: 9vh;
    text-align: center;
    display: flex;
}

.left{
    
    background-color: white;
    width: 30%;
    margin-left: 10%;
    height: 60vh;
    border-radius: 10px;
}

.right{
    
    width: 40%;
    margin-left: 10%;
    height: 40vh;
}

.line_1{

    font-weight: bold;
    margin-left: 10%;
    display: flex;
    margin-top: 2vh;
    font-size: 3vh;

}

.line_2{
    width:80%;
    margin-left: 10%;
    height: 20vh;
    background-color: #eeeeee;
    border-radius: 10px;
}

.button{
    height: 15vh;
    width: 40%;
    background-color: #ff6711;
    color: white;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 13%;
    font-size: 3vh;
    border-color: #ff6711;
    border: 0px;
}


